<div>
    <div class="example-loading-shade spinnerabove "
    *ngIf="isLoadingResults || isRateLimitReached" >
  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
   
  </div>
  </div> 
    <mat-dialog-content>
      
  <div>
     
         <span><h2>Are you sure you want to delete</h2></span>
       
      </div>
      
 
    
   
    
     
     
    </mat-dialog-content>
    <mat-dialog-actions>
        
          <div class="button-row">
                                              
            <button mat-raised-button color="accent" (click)="deleteClient()" >Yes</button>
              <button mat-raised-button color="accent" (click)="onCloseCancel()">No</button>
              
            </div>    
    
    </mat-dialog-actions>
      </div>