<div>
<mat-dialog-content>
  
  <div class="row" >
                        
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Employee Code" >
      </mat-form-field>

</div>
<div class="row" >
                        
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Employee Name" >
  </mat-form-field>

</div>

<div class="row" >
                        
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Designation" >
  </mat-form-field>

</div>
<div class="row" >
                        
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Email" >
  </mat-form-field>

</div>
<div class="row" >
                        
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Mobile Number" >
  </mat-form-field>

</div>

  <strong>{{data}}</strong>
 
</mat-dialog-content>
<mat-dialog-actions>
    
      <div class="button-row">
                                          
        <button mat-raised-button color="accent" (click)="postEmployee()" >Update</button>
          <button mat-raised-button color="accent" (click)="onCloseCancel()">Cancel</button>
          
        </div>    

</mat-dialog-actions>
  </div>