<div>

<mat-dialog-content>
  
  <div class="row" >
                        
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Employee Code" [(ngModel)]="data.code">
      </mat-form-field>

</div>
<div class="row" >
                        
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Employee Name" [(ngModel)]="data.name">
  </mat-form-field>

</div>

<div class="row" >
                        
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Designation" [(ngModel)]="data.designation">
  </mat-form-field>

</div>
<div class="row" >
                        
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Email" [(ngModel)]="data.mail">
  </mat-form-field>

</div>
<div class="row" >
                        
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Mobile Number" [(ngModel)]="data.mob">
  </mat-form-field>

</div>

 
 
</mat-dialog-content>
<mat-dialog-actions>
    
      <div class="button-row">
                                          
        <button mat-raised-button color="accent" (click)="postEmployee()" >Update</button>
          <button mat-raised-button color="accent" (click)="onCloseCancel()">Cancel</button>
          
        </div>    

</mat-dialog-actions>
  </div>