<mat-sidenav-container class="sidenav-container">
  <mat-sidenav style="background: #92aac7"
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)" >
    <mat-toolbar color="primary"><img class="logo" src="assets/uds1.jpg"></mat-toolbar>
    <mat-nav-list >
      <a mat-list-item routerLink=""><i class="material-icons color_white">description</i><span style="color: #fff;">Master Data</span></a>
      <a mat-list-item routerLink="opstracker"><i class="material-icons color_white">library_books</i><span style="color: #fff;">OpsTracker</span></a>
      <a mat-list-item routerLink="escalation"><i class="material-icons color_white">queue</i><span style="color: #fff;">Escalation</span></a>
      <a mat-list-item routerLink="report"><i class="material-icons color_white">report</i><span style="color: #fff;">Report</span></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" >
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">Menu</mat-icon>
      </button>
      <span>Updater Service Opstracker</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
