
<mat-sidenav-container class="sidenav-container"  >

  <mat-sidenav *ngIf="router.url != '/'" style="background: #283b42"
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)" >
    <mat-toolbar color="primary"><img class="logo" src="assets/uds1.jpg"></mat-toolbar>
    <!-- <mat-nav-list >
      <a mat-list-item ><i class="material-icons color_white">description</i><span style="color: #fff;">Master Data
      <button mat-button mat-icon-button (click)="showSubmenu = !showSubmenu">
          <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}">expand_more</mat-icon>
        </button></span></a>
        <div class="submenu" [ngClass]="{'expanded' : showSubmenu}">
            <mat-list-item routerLink="masterview"><span style="color: #fff;">View</span></mat-list-item>
            <mat-list-item routerLink="masterdata"><span style="color: #fff;">Add</span></mat-list-item>
           
          </div>
    </mat-nav-list> -->
      <mat-nav-list >
          <a mat-list-item routerLink="masterdata"><i class="material-icons color_white">description</i><span style="color: #fff;">Masterdata</span></a>
      <a mat-list-item routerLink="opstracker"><i class="material-icons color_white">library_books</i><span style="color: #fff;">OpsTracker</span></a>
      <a mat-list-item routerLink="escalation"><i class="material-icons color_white">queue</i><span style="color: #fff;">Escalation</span></a>
      <a mat-list-item routerLink="report"><i class="material-icons color_white">report</i><span style="color: #fff;">Report</span></a>
    </mat-nav-list>
   
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar *ngIf="router.url != '/'" color="primary" >
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">Menu</mat-icon>
      </button>
      <span>Updater Service Opstracker</span>
    </mat-toolbar>
    
    
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
    <toaster-container [toasterconfig]="config"></toaster-container>
  </mat-sidenav-content>
</mat-sidenav-container>

