<div class="content" >
  <div >
    <mat-card style="background-color:#d1dddb">
        <mat-card-header>
         
                <mat-card-title><p>Please login to continue</p></mat-card-title>
               
        </mat-card-header>
        <mat-divider ></mat-divider> 
        <mat-card-content>
        <div style="margin-top:10px">
           
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username"  required >
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput type="password" placeholder="Password"  required>
          </mat-form-field>
          <div class="button-row">
                                        
            <button mat-raised-button color="accent" (click)="onButtonclick()">Login</button>
            
            
          </div>
         
        
         
         
          
            
               

                  
                    
                 
                 
                     
                      

     </div>
     </mat-card-content>
     </mat-card>
     </div>
</div>