<div class="example-container ">
    <div id = "layoutContainer" 
    fxLayout = "row" fxLayout.xs="column" fxLayoutwrap fxLayoutGap="0.15%">
    
    <div fxflex = "50" >
    <div >
      <mat-card >
          <mat-card-header>
           
                  <mat-card-title>Opstracker</mat-card-title>
                 
          </mat-card-header>
          <mat-divider ></mat-divider> 
          <mat-card-content>
          <div >
              <mat-form-field class="example-full-width">
                  <input matInput [matDatepicker]="picker" placeholder="Date">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker ></mat-datepicker>
                </mat-form-field>

          <mat-form-field class="example-full-width">
              <input type="text" placeholder="Client" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of projects" [value]="option.name" (onSelectionChange)="setProject(option.id)">
                  {{option.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
           
            
           
           
            
              <mat-form-field class="example-full-width">
                  <input type="text" placeholder="Site" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto1">
                  <mat-autocomplete #auto1="matAutocomplete">
                    <mat-option *ngFor="let option of sites" [value]="option.name" (onSelectionChange)="setSite(option.id)" >
                      {{option.name}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
             
             
                 
  
                    
                      
                   
                   
                       
                        
  
       </div>
       </mat-card-content>
       </mat-card>
       </div>
      </div>
       <div class="accordian">
          <div fxflex = "50" >
            
              <mat-tab-group >
               
                  <mat-tab label="Manpower">
                      <div class="material-box mat-elevation-z4">
                         
                      <div >
                          <button mat-mini-fab >
                              <mat-icon aria-label="" routerLink="../opsmanpowertransactionview">table_chart</mat-icon>
                            </button>
                          <mat-form-field class="example-full-width">
                              <input type="text" placeholder="Shift" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto3">
                              <mat-autocomplete #auto3="matAutocomplete">
                                <mat-option *ngFor="let option of shifts" [value]="option" (onSelectionChange)="setShiftDetails(option)">
                                  {{option}}
                                </mat-option>
                              </mat-autocomplete>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Planned" [(ngModel)]="manpowertransaction.planned">
                              </mat-form-field>
                              <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Actual" [(ngModel)]="manpowertransaction.actual" (input)="setShortFall($event.target.value)">
                                </mat-form-field>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Shortfall" [(ngModel)]="manpowertransaction.shortfall">
                                  </mat-form-field>
                                  
                                     <p>Total No of Releivers</p>
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Continued" [(ngModel)]="manpowertransaction.continuedWithOutOt">
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Continued with OT" [(ngModel)]="manpowertransaction.continuedWithOt">
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="New" [(ngModel)]="manpowertransaction.newComer">
                                    </mat-form-field>


                                    
                                    <div class="button-row">
                                        
                                        <button mat-raised-button color="accent" (click)="postManPowerTransaction()">Submit</button>
                                        
                                        
                                      </div>
                      </div>
                       </div>
                     
                    </mat-tab>
                   

                   
                        <mat-tab label="Material">

                            <div class="material-box mat-elevation-z4">
                                <div >
                                    <button mat-mini-fab >
                                        <mat-icon aria-label="" routerLink="../opsmaterialtransactionview">table_chart</mat-icon>
                                      </button>
                                    <mat-form-field class="example-full-width">
                                        <input type="text" placeholder="Material Type" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto4">
                                        <mat-autocomplete #auto4="matAutocomplete">
                                          <mat-option *ngFor="let option of materialtypes " [value]="option" (onSelectionChange)="setCommitmentdate(option)">
                                            {{option}}
                                          </mat-option>
                                        </mat-autocomplete>
                                      </mat-form-field>
                                      <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Commitment Date" [(ngModel)]="materialtransaction.commitmentDate">
                                      </mat-form-field>

                                      <!-- <mat-form-field class="example-full-width">
                                          <input matInput [matDatepicker]="picker4" placeholder="Commitment Date" [(ngModel)]="materialtransaction.commitmentDate">
                                          <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                                          <mat-datepicker #picker4></mat-datepicker>
                                        </mat-form-field> -->

                                      <mat-form-field class="example-full-width">
                                          <input matInput [matDatepicker]="picker1" placeholder="Indent SubmissionDate" [(ngModel)]="materialdate.indentSubmissionDate">
                                          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                          <mat-datepicker #picker1></mat-datepicker>
                                        </mat-form-field>

                                        <mat-form-field class="example-full-width">
                                            <input matInput [matDatepicker]="picker3" placeholder="Material Supply Date" [(ngModel)]="materialdate.materialSupplyDate">
                                            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                            <mat-datepicker #picker3></mat-datepicker>
                                          </mat-form-field>
                                          <mat-form-field class="example-full-width">
                                              <input matInput [matDatepicker]="picker2" placeholder="Uniform Supply  Date" [(ngModel)]="materialdate.uniformSupplyDate">
                                              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                              <mat-datepicker #picker2></mat-datepicker>
                                            </mat-form-field>
                                            
                                              <mat-form-field class="example-full-width">
                                                  <input type="text" placeholder="Status" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto5" >
                                                  <mat-autocomplete #auto5="matAutocomplete">
                                                    <mat-option *ngFor="let matst of Matstatus" [value]="matst" (click)="setStatus(matst)">
                                                      {{matst}}
                                                    </mat-option>
                                                  </mat-autocomplete>

                                                </mat-form-field>
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Remarks" [(ngModel)]="materialtransaction.remarks">
                                                  </mat-form-field>

                                                  
                                              <div class="button-row">
                                                  
                                                  <button mat-raised-button color="accent" (click)="postMaterialTransaction()">Submit</button>
                                                  
                                                  
                                                </div>
                                </div>
                                 </div>
                          </mat-tab>
                         


                        
                              <mat-tab label="Machine">
                                  <div class="material-box mat-elevation-z4">
                                      <div >
                                          <button mat-mini-fab >
                                              <mat-icon aria-label="" routerLink="../opsmachinetransactionview">table_chart</mat-icon>
                                            </button>
                                      <mat-form-field class="example-full-width">
                                          <input type="text" placeholder="Type of Machine" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto6">
                                          <mat-autocomplete #auto6="matAutocomplete">
                                            <mat-option *ngFor="let option of options" [value]="option">
                                              {{option}}
                                            </mat-option>
                                          </mat-autocomplete>
                                        </mat-form-field>
                                          <mat-form-field class="example-full-width">
                                            <input type="text" placeholder="Equipment Type" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto7">
                                            <mat-autocomplete #auto7="matAutocomplete">
                                              <mat-option *ngFor="let option of options" [value]="option">
                                                {{option}}
                                              </mat-option>
                                            </mat-autocomplete>
                                          </mat-form-field>
                                          <mat-form-field class="example-full-width">
                                              <input matInput placeholder="Model Number" >
                                            </mat-form-field>
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Serial Number" >
                                              </mat-form-field>
                                              <mat-form-field class="example-full-width">
                                                  <input type="text" placeholder="Status" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto8">
                                                  <mat-autocomplete #auto8="matAutocomplete">
                                                    <mat-option *ngFor="let option of options" [value]="option">
                                                      {{option}}
                                                    </mat-option>
                                                  </mat-autocomplete>
                                                </mat-form-field>
                                              
                                                <mat-form-field class="example-full-width">
                                                    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker6" placeholder="Complaint Raised  Date" >
                                                    <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker6></mat-datepicker>
                                                  </mat-form-field>
                                                  <mat-form-field class="example-full-width">
                                                      <input matInput [matDatepicker]="picker7" placeholder="Resolution  Date">
                                                      <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
                                                      <mat-datepicker #picker7></mat-datepicker>
                                                    </mat-form-field>
                                                 
                                                <div class="button-row">
                                                    
                                                    <button mat-raised-button color="accent" (click)="postMachineTransaction()">Submit</button>
                                                    
                                                    
                                                  </div>
                                 
                                   </div>
                                   </div>
                                </mat-tab>
                               
                                </mat-tab-group>
            
            </div>
       </div>
      </div>
      </div>