<div class="algnleft">
    <div class="div-left"><button mat-mini-fab>
        <mat-icon aria-label="" routerLink="../masterdata">arrow_back</mat-icon>
      </button></div>
    
       <div class="example-loading-shade spinnerabove "
             *ngIf="isLoadingResults || isRateLimitReached" >
          <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
          <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
            
          </div>
        </div> 
    
        
      
          <table mat-table [dataSource]="esc2" class="mat-elevation-z8"
                 matSort matSortActive="id" matSortDisableClear matSortDirection="asc" style="width:100%;margin-bottom: 11px">
            <!-- Number Column -->
            
            <!-- Title Column -->
            <ng-container  matColumnDef="id">
                <th mat-header-cell  *matHeaderCellDef>Id</th>
                <td mat-cell *matCellDef="let row">{{row.id}}</td>
              </ng-container>
        
    
            <ng-container  matColumnDef="typeOfEscalation">
              <th mat-header-cell  *matHeaderCellDef>Types Of Escalation</th>
              <td mat-cell *matCellDef="let row">{{row.typeOfEscalation}}</td>
            </ng-container>
      
            <!-- State Column -->
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef>Description</th>
              <td mat-cell *matCellDef="let row">{{row.description}}</td>
            </ng-container>
      
            <!-- Created Column -->
            <ng-container matColumnDef="communicatedVia">
              <th mat-header-cell *matHeaderCellDef >
               Communicated Via
              </th>
              <td mat-cell *matCellDef="let row">{{row.communicatedVia}}</td>
            </ng-container>
    
            <ng-container matColumnDef="communicatedDate">
                <th mat-header-cell *matHeaderCellDef >
                  Communicated Date
                </th>
                <td mat-cell *matCellDef="let row">{{row.communicatedDate}}</td>
              </ng-container>
              <ng-container matColumnDef="escalatedTo">
                <th mat-header-cell *matHeaderCellDef >
                  Escalated To
                </th>
                <td mat-cell *matCellDef="let row">{{row.escalatedTo}}</td>
              </ng-container>
              <ng-container matColumnDef="escalatedBy">
                <th mat-header-cell *matHeaderCellDef >
                  Escalated By
                </th>
                <td mat-cell *matCellDef="let row">{{row.escalatedBy}}</td>
              </ng-container>
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef >
                  Status
                </th>
                <td mat-cell *matCellDef="let row">{{row.status}}</td>
              </ng-container>

              
              <ng-container matColumnDef="closureDate">
                  <th mat-header-cell *matHeaderCellDef >
                    Closure Date
                  </th>
                  <td mat-cell *matCellDef="let row">{{row.closureDate}}</td>
                </ng-container>

                <ng-container matColumnDef="estimatedClosureDate">
                    <th mat-header-cell *matHeaderCellDef >
                      Estimated Closure Date
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.estimatedClosureDate}}</td>
                  </ng-container>
    
               <mat-divider></mat-divider> 
            <ng-container matColumnDef="actionsColumn">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                
                <mat-cell *matCellDef="let row">
                    <div class="inner-div">
                    <button mat-icon-button>
                        <mat-icon matTooltip="Update" aria-label="Example icon-button with a heart icon" (click)="openDialog(row.id)" >edit</mat-icon>
                      </button>
                     <!--  <button mat-icon-button>
                          <mat-icon aria-label="Example icon-button with a heart icon"  matTooltip="Delete" (click)="openDialog(row.id)">delete</mat-icon>
                        </button> -->
                   </div>
                </mat-cell>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
             
          </table>
       <mat-paginator [length]="resultsLength" [pageSize]="8"></mat-paginator>
      
        <!--   <app-pagination [maxPages]="maxPages"
          [current]="1"
          [postsPerPage]="postsPerPage"
          [itemsPerPage]="itemsPerPage"
          (changePage)="pageChanged($event)"></app-pagination> -->
      
    </div>