<div>
  <div class="example-loading-shade spinnerabove "
  *ngIf="isLoadingResults || isRateLimitReached" >
<mat-spinner *ngIf="isLoadingResults"></mat-spinner>
<div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
 
</div>
</div> 
    <mat-dialog-content>
      
      <div class="row" >
                            
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Escalation Type" [(ngModel)]="data.escalationType">
          </mat-form-field>
    
    </div>
    
    
   
    
     
     
    </mat-dialog-content>
    <mat-dialog-actions>
        
          <div class="button-row">
                                              
            <button mat-raised-button color="accent" (click)="updateEscalation()" >Update</button>
              <button mat-raised-button color="accent" (click)="onCloseCancel()">Cancel</button>
              
            </div>    
    
    </mat-dialog-actions>
      </div>